{#  @var bagder \App\Entity\User #}
<div class="cell rw-12 center night hide-md hide-lg hide-sm">
    {% if user_handler.hasRole(badger, "ROLE_ADMIN") %}
        <div class="badge {{ user_handler.hasRole(badger, "ROLE_SUPER") ? 'badge-admin-master' : 'badge-admin' }}">
            <div><i class="fa fa-hammer"></i></div>
            <div class="tooltip badge-tooltip">
                <b>{{ 'Administrator'|trans({},'soul') }}</b>
                {{ 'Diese Karteikarte gehört einem Administrator. Wenn ihr darauf komische, abnormale oder gar furchteinflößende Dinge entdeckt: Das ist völlig normal. Macht euch keine Sorgen, er weiß wahrscheinlich schon Bescheid :).'|trans({},'soul') }}
            </div>
        </div>
    {% elseif user_handler.hasRole(badger, "ROLE_CROW") %}
        <div class="badge badge-crow">
            <div><i class="fa fa-crow"></i></div>
            <div class="tooltip badge-tooltip">
                <b>{{ 'Der Rabe'|trans({},'soul') }}</b>
                {{ 'Diese Karteikarte gehört einem Raben. Du solltest sie lieber wieder zurücklegen... langsam und ohne plötzliche Bewegungen.'|trans({},'soul') }}
            </div>
        </div>
    {% endif %}

    {% if user_handler.hasRole(badger, "ROLE_ORACLE") and not user_handler.hasRole(badger, "ROLE_ADMIN") %}
        <div class="badge badge-oracle">
            <div><i class="fa fa-bullhorn"></i></div>
            <div class="tooltip badge-tooltip">
                <b>{{ 'Orakel'|trans({},'soul') }}</b>
                {{ 'Diese Karteikarte gehört einem Orakel. Orakel sind Bindeglieder zwischen der Community und den Entwicklern. Du kannst dich bei Fragen und Problemen vertrauensvoll an sie wenden.'|trans({},'soul') }}
            </div>
        </div>
    {% endif %}

    {% if user_handler.hasRole(badger, "ROLE_DUMMY") and not user_handler.hasRole(badger, "ROLE_CROW") %}
        <div class="badge badge-dummy">
            <div><i class="fa fa-skull-crossbones"></i></div>
            <div class="tooltip badge-tooltip">
                <b>???</b>
                {{ 'Irgend etwas erscheint an dieser Karteikarte merkwürdig...'|trans({},'soul') }}
            </div>
        </div>
    {% endif %}

    {#  @var bagder \App\Entity\User #}
    {% if badger.twinoidID is not null %}
        <div class="badge badge-twinoid">
            <div></div>
            <div class="tooltip badge-tooltip">
                <b>{{ 'Twinoid-Nutzer'|trans({},'soul') }}</b>
                {{ 'Dieser Spieler hat mindestens eine Seele von Twinoid importiert. Wir feuen uns, ihn bei MyHordes begrüßen zu dürfen!'|trans({},'soul') }}
            </div>
        </div>
    {% endif %}
</div>

<script>

</script>