{{ constant('App\\Controller\\BeyondController::ErrorNoReturnFromHere') }}     : '{{'Du kannst die Stadt von hier aus nicht betreten.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\BeyondController::ErrorNotReachableFromHere') }} : '{{'Du kannst diese Zone von hier aus nicht betreten.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\BeyondController::ErrorZoneBlocked') }}          : '{{'Zombies blockieren deine Zone!'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\BeyondController::ErrorZoneUnderControl') }}     : '{{'Diese Aktion kann nur in Zonen ausgeführt werden, die von Zombies kontrolliert werden.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\BeyondController::ErrorAlreadyWounded') }}       : '{{'Du kannst nicht angreifen wenn du bereits verwundet bist.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\BeyondController::ErrorNotDiggable') }}          : '{{'Du kannst auf dieser Zone nicht graben.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\BeyondController::ErrorDoorClosed') }}           : '{{'Das Stadttor ist geschlossen!'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\BeyondController::ErrorChatMessageInvalid') }}   : '{{'Deine Nachricht muss zwischen 2 und 256 Zeichen haben.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\BeyondController::ErrorTrashLimitHit') }}        : '{{'Heute wirst du nichts mehr im Müll finden.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\BeyondController::ErrorNoMovementWhileHiding') }}: '{{'Du kannst dich nicht fortbewegen während du versteckt bist.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\BeyondController::ErrorEscortLimitHit') }}       : '{{'Du kannst keinen weiteren Bürger eskortieren.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\BeyondController::ErrorEscortFailure') }}        : '{{'Dieser Bürger hat kein AP mehr.'|trans({},'game')|e('js')}}',